html {
	scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background: #000000;
}
/*--- navigation bar ---*/
.navbar {
  background:#1abc9c;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.navbar-brand:hover {
  color: #000;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}

.mainheader .header {
	background-image: url('images/lightsv2.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
}

.mainheader .overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
}

.aboutmeheader .header {
	background-image: url('images/Family2.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
}

.aboutmeheader .overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.8);
}

.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}

.description h1 {
	color: #fff
}

.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}

.description button {
	border: 1px solid #1abc9c;
	background: #1abc9c;
	border-radius: 0;
	color: #fff;
}
.description button:hover {
	border: #fff;
	background: #fff;
	color: #000;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 2.5s;
}

.features {
  margin: 4em auto;
  padding: 1em;
  position: relative;
}
.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.page-footer {
  background-color: #1abc9c;
  color: #ccc;
  padding: 60px 0 30px;
}
.footer-copyright {
  color: #666;
  padding: 40px 0;
}

.page-footer .linkedin {
	color: #fff;
}

.page-footer .linkedin:hover {
	color: #000;
}

@media (max-width: 575.98px) {
  .description {
    left: 0;
    padding: 0 15px;
    position: absolute;
    top: 10%;
    transform: none;
    text-align: center;
  }
  
  .description h1 {
    font-size: 2em;
  }
  
  .description p {
    font-size: 1.2rem;
  }
  
  .features {
    margin: 0;
  }
}

.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #fff;
  }

  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .margin {margin-bottom: 45px;}

  .aboutmedesc {
  	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
  }

  .aboutmedesc  h1{
  	color: #fff;
  }

  .aboutmedesc  p{
  	color: #fff;
  	font-size: 1.3rem;
  }
